{% extends "base.html" %} <!-- balikin headernya besok-->
{% load static %}
{% block meta %}
    <title>Services — {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main>
      <section class="services" id="services">
        <div class="section-title">
          <h2>{{ heading }}</h2>
          <p>
            {{ caption }}
          </p>
        </div>

        <div class="service-header">
          <a href="{% url 'main:create_service' %}" class="btn service-add-button">
            <span aria-hidden="true">+</span>
            Tambah Service
          </a>
        </div>

        <div class="cards-grid">
          {% for service in service_list %}
            <article class="service-card">
              <div class="icon" aria-hidden="true">
                <span
                  class="icon-mask"
                  style="--icon-url: url('{% static 'img/'|add:service.icon %}')"
                ></span> <!-- |add buat sambung string-->
              </div>
              <h3>{{ service.title }}</h3>
              <p>{{ service.description }}</p>
              {% include "components/service_delete_modal.html" with service=service %}
            </article>
          {% empty %}
            <p class="empty-state">Coming soon!</p>
          {% endfor %}
        </div>
      </section>
    </main>
{% endblock content %}